<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="gentoma_helpdesk" id="gentoma_helpdesk">
			<module before="Magento_Backend" name="Gentoma_Helpdesk"/>
		</route>
	</router>
</config>
