.g-frm_helpdesk--send{
}

.g-frm_helpdesk--send__field{
    margin-bottom: 25px;
}

.g-frm_helpdesk--send__field__label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}

.g-frm_helpdesk--send__field__input {
    max-width: 50%;
}

.g-frm_helpdesk--send__field__submit {

}